body {
/*        margin: 30px 30px 30px 30px;*/
        margin-left: 100px;
        margin-right: 100px;
        padding:30px;
/*        border:10px;
        border-color:black;*/
}
h1 {
    font-family: arial;
    color: white;
    text-decoration-color: #E0EBFF;
    text-align: center;
    background-color: #000080;
}

table {
    font-family: arial;
    font-size: 13px;
    
}

td {
    width: 400px;
    padding: 3px;
}

span.item {
    font-weight: bold;
}

span.dado {
    text-align: center;
}